.container {
  display: flex;
  justify-content: center;
}

.button {
  padding: 20px 60px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
  transition: all 0.2s;
  cursor: pointer;
  position: relative;
  z-index: 50;

  @media (min-width: 640px) {
    padding: 20px 0;
    width: 300px;
  }

  &.primary {
    background: #199ada;
    border: 1px solid #fff;
    color: #fff;

    &:hover {
      background: #fff;
      border-color: #199ada;
      color: #199ada;
    }
  }

  &.secondary {
    background: #fff;
    border: 1px solid #fff;
    color: #199ada;

    &:hover {
      background: #199ada;
      color: #fff;
    }
  }

  // lg
  @media (min-width: 1024px) {
    width: 300px;
  }
}
