.label {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 0.875rem;
}

.textArea {
  background: #d1ebf8;
  border: none;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  z-index: 50;
  height: 200px;
}

@media (min-width: 1024px) {
  .textArea,
  .label {
    height: 100%;
  }
}
