.container {
  padding: 50px 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 50px 0;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    p {
      text-align: justify;
    }
  }

  img {
    width: 400px;
    max-width: 100%;
    justify-self: center;
  }
}
