.container {
  margin: -100px 0;

  .background {
    background: #199ada;
    color: #fff;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 50px 0;

    > div {
      display: flex;
      flex-direction: column;
      gap: 70px;
      align-items: baseline;

      // md
      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
      }

      // lg
      @media (min-width: 1024px) {
        gap: 70px;
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

        .icon {
          padding: 30px;
          border-radius: 100%;
          border: 1px solid #fff;

          svg {
            color: #fff;
          }

          &:hover {
            background: #fff;

            svg {
              color: #199ada;
            }
          }
        }
      }

      p {
        text-align: justify;
      }
    }
  }
}
