.content {
  padding-top: 150px;
  padding-bottom: 85px;
  display: flex;
  flex-direction: column;
  gap: 70px;

  @media (min-width: 1024px) {
    padding-bottom: 100px;
  }

  .gallery {
    display: grid;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);

    // xl
    @media (min-width: 1280px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
