.container {
  &.primary {
    background: #199ada;
  }

  &.secondary {
    background: #fff;
  }
}

.content {
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;

  @media (min-width: 640px) {
    flex-direction: row;
  }
}
