@font-face {
  font-family: Segoe Print;
  src: url("../fonts/Segoe-Print.ttf");
}

html,
body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.625;
  font-weight: light;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  ::-webkit-scrollbar-track {
    background-color: #199ada66;
  }
  ::-webkit-scrollbar {
    width: 16px;
  }
  ::-webkit-scrollbar-thumb {
    background: #fff;
  }
}
