.content {
  display: grid;
  padding: 40px 0;
  gap: 40px;

  > div:nth-child(1) {
    margin: auto;
    width: 343px;
  }

  @media (max-width: 380px) {
    > div:nth-child(1) {
      width: 100%;
    }
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  .ourServices {
    ul {
      margin-top: 30px;
      list-style: none;
      text-align: center;

      li:last-child {
        font-weight: bold;
        font-style: italic;
        margin-top: 10px;
      }
    }
  }

  .contact {
    ul {
      margin-top: 30px;
      list-style: none;
      text-align: center;

      .icons {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        gap: 20px;
        color: #fff;

        > span:nth-child(1) {
          grid-column-start: 2;
        }
        > span:nth-child(2) {
          grid-column-start: 3;
        }
        > span:nth-child(3) {
          grid-column-start: 4;
        }

        span {
          width: 60px;
          height: 60px;
          background: #199ada;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: auto;
          border: 1px solid transparent;
          cursor: pointer;

          &:hover {
            background: #fff;
            border-color: #199ada;

            svg {
              color: #199ada;
            }
          }
        }
      }
    }
  }
}
