.content {
  display: grid;
  gap: 2rem;
  align-items: baseline;
  padding: 50px 0;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(4, 1fr);
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    svg {
      justify-self: center;
      align-self: center;
      color: #199ada;
    }

    p {
      text-align: justify;
    }
  }
}
