.container {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(2, 25, 113, 0.9) 100%
  );
}

.content {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 50px 0 150px 0;
  gap: 70px;

  > div {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  // lg
  @media (min-width: 1024px) {
    grid-template-columns: 2fr 1fr;
    padding: 100px 0 200px 0;
    gap: 0;
  }

  @media (min-width: 1536px) {
    grid-template-columns: 1fr 1fr;
    padding: 100px 0 200px 0;
    gap: 0;
  }

  .logo {
    width: 150px;
    height: auto;
    margin: 0 auto;
    animation: emphasis 4s alternate infinite;

    path {
      animation: emphasisColor 4s alternate infinite;
    }
  }

  .image {
    width: 400px;
    max-width: 100%;
    height: auto;
    margin: auto;
    animation: float 6s ease-in-out infinite;
  }

  p {
    text-align: center;
    color: #fff;
  }
}

.text {
  font-family: Segoe Print;
  font-weight: bold;

  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    overflow: hidden;

    > span {
      margin-top: -10px;

      @for $i from 1 through 300 {
        &:nth-child(#{$i}) {
          animation: letter 2s linear alternate infinite;
          animation-delay: $i * 100ms;
        }
      }
    }
  }

  > span {
    min-width: 10px;
  }
}

@keyframes emphasis {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

@keyframes emphasisColor {
  0% {
    fill: #ab93ef;
    filter: brightness(1.2);
  }
  100% {
    fill: #fff;
  }
}

@keyframes letter {
  0% {
    margin-top: -15px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}
