.content {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 50px 0 150px 0;
  gap: 70px;

  > div {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  // lg
  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    padding: 100px 0 200px 0;
    gap: 0;
  }

  .logo {
    width: 150px;
    height: auto;
    margin: 0 auto;
    filter: brightness(0);
  }

  .image {
    width: 400px;
    max-width: 100%;
    height: auto;
    margin: auto;
    animation: float 6s ease-in-out infinite;
  }

  p {
    text-align: justify;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-30px);
  }
}
