.backgroundSpace {
  background-image: url(../../../public/space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
}

.container {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.9) 100%
  );
}

.content {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 50px 0 150px 0;
  gap: 70px;

  > div {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  // lg
  @media (min-width: 1024px) {
    grid-template-columns: 2fr 1fr;
    padding: 100px 0 200px 0;
    gap: 0;
  }

  @media (min-width: 1536px) {
    grid-template-columns: 1fr 1fr;
    padding: 100px 0 200px 0;
    gap: 0;
  }

  .logo {
    width: 150px;
    height: auto;
    margin: 0 auto;

    path {
      filter: brightness(10);
    }
  }

  .image {
    width: 400px;
    max-width: 100%;
    height: auto;
    margin: auto;
    animation: float 6s ease-in-out infinite;
  }

  p {
    text-align: center;
    color: #fff;
  }
}

.slogan {
  font-family: Segoe Print;
  font-weight: bold;
  text-align: center;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}
