.container {
  &.primary {
    background-image: url(../../../public/sky.jpg);
  }
  &.secondary {
    background-image: url(../../../public/sky_2.jpg);
  }
  &.tertiary {
    background-image: url(../../../public/sky_3.jpg);
  }
  &.quaternary {
    background-image: url(../../../public/sky_4.jpg);
  }
  &.quinary {
    background-image: url(../../../public/space.jpg);
  }
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;

  &.fixed {
    background-attachment: fixed;
  }
}
