.container {
  &.primary {
    background-image: url(../../assets/sky.webp);
  }
  &.secondary {
    background-image: url(../../assets/space.webp);
  }
  background-repeat: no-repeat;
  background-size: cover;

  &.fixed {
    background-attachment: fixed;
  }
}
