.container {
  padding: 50px 0;

  &.secondary {
    background: #199ada;
    color: #fff;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 50px 0;

  .image {
    margin: auto;
  }

  @media (min-width: 1024px) {
    &.containsImage {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    p {
      text-align: justify;
    }
  }

  img,
  svg {
    width: 400px;
    height: auto;
    max-width: 100%;
    justify-self: center;
    order: 0;
  }

  .invert {
    order: -1;
  }
}
